<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Gps art - map creating</title>
  <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/map_page.css') }}">
</head>

<body>
  <div class="path_namer">
    <input type="text" class="form-control" placeholder="Name your path">
  </div>
  <img src={{img}} id="map" alt="Карты не нашлось :(">


  <script>
    let mouse_x = null, mouse_y = null;
    (function () {
      document.onmousemove = handleMouseMove;
      function handleMouseMove(event) {
        var eventDoc, doc, body;

        event = event || window.event;

        if (event.pageX == null && event.clientX != null) {
          eventDoc = (event.target && event.target.ownerDocument) || document;
          doc = eventDoc.documentElement;
          body = eventDoc.body;

          event.pageX = event.clientX +
            (doc && doc.scrollLeft || body && body.scrollLeft || 0) -
            (doc && doc.clientLeft || body && body.clientLeft || 0);
          event.pageY = event.clientY +
            (doc && doc.scrollTop || body && body.scrollTop || 0) -
            (doc && doc.clientTop || body && body.clientTop || 0);
        }

        // Use event.pageX / event.pageY here
        mouse_x = event.pageX;
        mouse_y = event.pageY;

      }
    })();
    $("#map").click(function () {
      $.ajax({
        type: 'POST',
        url: "/_map",
        data: { mouse_x: mouse_x, mouse_y: mouse_y },
        dataType: "text",
        success: function (img_path) {
          document.getElementById("map").src = img_path;
        }
      });
    });

  </script>
</body>

</html>