{% extends 'layout.html' %}

<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/browse_page.css') }}"> {% endblock %}
</head>
{% block body %}

<body>
    <h2><a href="/map" class="new_map_link">Create new path</a></h2>
    <table>
        <caption style="text-align: center;">All your paths</caption>
        {% for path in paths %}
        <tr class="path_row">
            <td><img src="../static//img/geo-alt.svg" alt="Беды с башкой" class="geo_img"></td>
            <td class="name"><a href={{ "/map/" ~ path[ 'id'] }} style="color: black;">{{path['name']}}</a></td>
            <link>
            <form method="POST">
                <input type="hidden" name="data" value={{ path[ 'id'] }}>
                <td><button class="invis_button"><img src="../static/img/file-earmark-excel.svg" alt="Беды с башкой" class="delete_mark"></button></td>
            </form>
        </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}