#map {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    left: 140px;
    top: 150px;
    cursor: pointer;
}

.path_namer {
    width: 650px;
    margin-left: 140px;
    /* margin-right: auto; */
    margin-top: 100px;
}

.arrow {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.arrow:hover {
    background-color: #7A7A7A;
}

.button_div {
    margin-left: 820px;
    margin-top: 150px;
}

.button_row {
    margin-top: 5px;
}

.not_a_btn {
    width: 65px;
    height: 65px;
}

.zoom_key {
    width: 65px;
    height: 65px;
    cursor: pointer;
    margin-right: 5px;
}

.zoom_key:hover {
    background-color: #7A7A7A;
}

.time_travel_key {
    width: 65px;
    height: 65px;
    cursor: pointer;
    margin-right: 5px;
}

.time_travel_key:hover {
    background-color: #7A7A7A;
}

.map_form {
    margin-top: 20px;
    margin-left: 140px;
    width: 650px;
    text-align: center;
}

body {
    background-color: #c4c4c4;
}